@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    width:100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.57);
}
body{
    width:100%;
    height:100%;
    font-family: "Poppins", sans-serif;
    display:flex;
    justify-content: center;
    overflow-x:hidden;
}

header{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

header .logo h1{
    font-family: "Lora", serif !important;
    font-weight:400;
    font-size:1.61rem;
}
main{
    border-radius:1.2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:1rem 0;
    padding:1rem;
    border:1px solid #111;
    width:100%;
    height:fit-content;
    background-color: rgba(255, 254, 252, 0.9);
    overflow-x:hidden ;

}
section.profile_settings{
    display:flex;
    height:10rem;
    padding:0 10rem;
    align-items: center;
    justify-content: space-evenly;
}
div.image{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.image img{
    margin-top:3rem;
    position: relative;
    left:50%;
    top:-1rem;
    transform: translateX(-40%);
    width:130px;
    height:130px;
    object-fit: cover;
    outline: 2px solid #222;
    border-radius: 50%;
}
div.settings ul{
display:flex;
position: relative;
left:10px;
top:.41rem;
flex-direction: column;
justify-content: center;
align-items: center;
list-style: none;

}
div.settings ul li,div.settings ul li a{
    margin:2px;
    width:30px;
    height:30px;
    text-align: center;
    border-radius: 50%;
    background-color: #111;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

svg{
    width:1rem;
    height:auto;
}

#colors{
    display:none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width:13rem;
    height: 12rem;
    padding:10px;
    border-radius: 10px;
}
.close {
    margin-bottom:1rem;
    position: relative;
    left:0%;
    font-size:20px;
    top:0;
    cursor: default;
    color:darkred;
    background-color:#ff8a8a;
}
.close:hover{
    background-color:#b10000;
    color:rgb(255, 206, 206);
}
#color{
    width:30px;
    height:30px;
    border-radius: 50%;
    cursor:pointer;
    position: relative;

}
.color-tick::after{
    display:block;
    content:'\f00c';
    font-size:10px;
    color:#111;
    position: absolute;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    top:70%;
    left:60%;
    z-index:1;
}

.options-1,.options-2{
    display:flex;
    justify-content: space-around;
    margin-bottom:.71rem;
}
.personal_info{
    width:100%;
    display: flex;
    padding:10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h5.name{
    text-align: center;
    font-size:1.5rem;
}
h5.profession{
    text-align: center;
    color:#444;
}

section.content{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0 3rem;
    flex-direction: column;
    margin-top:2rem;
}
h2{
    font-weight: 500;
    font-family: "Lora", serif !important;
    font-size:1.52rem;
}
p{
    font-family: "Poppins", sans-serif;
}
section.content div{
    margin-bottom: 1rem;
}

.buttons{
    width:100%;
    display:flex;    
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
button{
    all:unset;
    padding:4px 8px;
    margin:10px;
    outline:1px solid #111;
    border-radius:7px;
    background-color: #ffeeee;
}
button:hover{
    cursor:pointer;
    background-color: #e1efff;
}
.links ul{
    list-style:none;
}
.links ul li a{
font-size:.61rem;
text-decoration: none;
color:#3135ff;}
.links ul li a:hover{
text-decoration: underline;
}

.socials ul{
    text-align: center;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.socials li a i{
    font-size: 1.52rem;
    color:#111;
}
ul li a{
    text-decoration: none;
}
ul{list-style: none;}
i.fa-external-link-alt,i.fa-download{
color:#5b5eff;font-size:.81rem;

}
input[type=text],input[type=number],input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  form{
    padding:1rem 10rem;
  }
  input[type=submit] {
    width: 100%;
    color: #000000;
    outline:1px solid #000000;
    background-color: #eee;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s ease;
  }
  input[type=submit]:hover {
    background-color: #000;
    color: white;
  }
  div.form-container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  h1.heading{
    position:absolute;
    font-size:1rem;
    margin-bottom:2rem;
  }

  @media only screen and (max-width:1440px) {
    html,body{
        width:100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.57);
    }
    body{
        width:100%;
        height:100%;
        font-family: "Poppins", sans-serif;
        display:flex;
        justify-content: center;
        overflow-x:hidden;
    }
    header .logo h1{
        font-family: "Lora", serif !important;
        font-weight:900;
        font-size:1.3rem;
    }
    main{
        border-radius:1.2rem;
        margin:1rem 0;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding:2rem;
        border:1px solid #111;
        width:100%;
        height:fit-content;
    }
    section.profile_settings{
        display:flex;
        height:10rem;
        padding:0 10rem;
        align-items: center;
        justify-content: space-evenly;
    }
    div.image{
        display:flex;
        position:relative;
        left:1.2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    div.image img{
        margin-top:3rem;
        position: relative;
        left:50%;
        top:-1rem;
        transform: translateX(-40%);
        width:130px;
        height:130px;
        object-fit: cover;
        outline: 2px solid #222;
        border-radius: 50%;
    }
    div.settings ul{
    display:flex;
    position: relative;
    left:10px;
    top:.41rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    
    }
    div.settings ul li,div.settings ul li a{
        margin:2px;
        width:30px;
        height:30px;
        text-align: center;
        border-radius: 50%;
        background-color: #111;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    svg{
        width:.91rem;
        height:auto;
    }
    li.heart{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    li span.likes{
        position:absolute;
        right:-1rem;
        font-size:14px;
    }
    #colors{
        display:none;
        position: absolute;
        background-color: rgb(255, 255, 255);
        width:13rem;
        height: 12rem;
        padding:10px;
        border-radius: 10px;
    }
    .close {
        margin-bottom:1rem;
        position: relative;
        left:0%;
        font-size:20px;
        top:0;
        cursor: default;
        color:darkred;
        background-color:#ff8a8a;
    }
    .close:hover{
        background-color:#b10000;
        color:rgb(255, 206, 206);
    }
    #color{
        width:30px;
        height:30px;
        border-radius: 50%;
        cursor:pointer;
        position: relative;
    
    }
    .color-tick::after{
        display:block;
        content:'\f00c';
        font-size:10px;
        color:#111;
        position: absolute;
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
        top:70%;
        left:60%;
        z-index:1;
    }
    
    .options-1,.options-2{
        display:flex;
        justify-content: space-around;
        margin-bottom:.71rem;
    }
    .personal_info{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h5.name{
        font-size:1.5rem;
    }
    h5.profession{
        color:#444;
    }
    
    section.content{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding:0 3rem;
        flex-direction: column;
        margin-top:2rem;
    }
    h2{
        font-weight: 500;
        font-family: "Lora", serif !important;
        font-size:1.52rem;
    }
    p{
        font-family: "Poppins", sans-serif;
    }
    section.content div{
        margin-bottom: 1rem;
    }
    
    .buttons{
        width:100%;
        display:flex;    
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    button{
        all:unset;
        padding:4px 8px;
        margin:10px;
        outline:1px solid #111;
        border-radius:7px;
        background-color: #ffeeee;
    }
    button:hover{
        cursor:pointer;
        background-color: #e1efff;
    }
    .links ul{
        list-style:none;
    }
    .links ul li a{
    font-size:1rem;
    text-decoration: none;
    color:#5b5eff;
    }
    .links ul li a:hover{
    text-decoration: underline;
    
    }
    
    .socials ul{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:10rem;
    }
    .socials li a i{
        font-size: 1.42rem;
        color:#111;
    }
    ul li a{
        text-decoration: none;
    }
    ul{list-style: none;}
    i.fa-external-link-alt,i.fa-download{
    color:#5b5eff;
    font-size:.891rem;
    
    }
    input[type=text],input[type=number],input[type=email]{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      form{
        padding:1rem 10rem;
      }
      input[type=submit] {
        width: 100%;
        color: #000000;
        outline:1px solid #000000;
        background-color: #eee;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all .2s ease;
      }
      input[type=submit]:hover {
        background-color: #000;
        color: white;
      }
      div.form-container{
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
      h1.heading{
        position:absolute;
        font-size:1rem;
        margin-bottom:2rem;
      }
}



  @media only screen and (max-width:1024px) {
    html,body{
        width:100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.57);
    }
    body{
        width:100%;
        height:100%;
        font-family: "Poppins", sans-serif;
        display:flex;
        justify-content: center;
        overflow-x:hidden;
    }
    header .logo a img{
        width:80px;
        height:auto;
    }
    main{
        border-radius:1.2rem;
        margin:1rem 0;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding:2rem;
        border:1px solid #111;
        width:100%;
        height:fit-content;
    }
    section.profile_settings{
        display:flex;
        height:10rem;
        padding:0 10rem;
        align-items: center;
        justify-content: space-evenly;
    }
    div.image{
        display:flex;
        position:relative;
        left:1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    div.image img{
        margin-top:3rem;
        position: relative;
        left:50%;
        top:-1rem;
        transform: translateX(-40%);
        width:130px;
        height:130px;
        object-fit: cover;
        outline: 2px solid #222;
        border-radius: 50%;
    }
    div.settings ul{
    display:flex;
    position: relative;
    left:10px;
    top:.41rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    
    }
    div.settings ul li,div.settings ul li a{
        margin:2px;
        width:30px;
        height:30px;
        text-align: center;
        border-radius: 50%;
        background-color: #111;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    svg{
        width:1rem;
        height:auto;
    }
    li.heart{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    li span.likes{
        position:absolute;
        right:-1rem;
        font-size:14px;
    }
    #colors{
        display:none;
        position: absolute;
        background-color: rgb(255, 255, 255);
        width:13rem;
        height: 12rem;
        padding:10px;
        border-radius: 10px;
    }
    .close {
        margin-bottom:1rem;
        position: relative;
        left:0%;
        font-size:20px;
        top:0;
        cursor: default;
        color:darkred;
        background-color:#ff8a8a;
    }
    .close:hover{
        background-color:#b10000;
        color:rgb(255, 206, 206);
    }
    #color{
        width:30px;
        height:30px;
        border-radius: 50%;
        cursor:pointer;
        position: relative;
    
    }
    .color-tick::after{
        display:block;
        content:'\f00c';
        font-size:10px;
        color:#111;
        position: absolute;
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
        top:70%;
        left:60%;
        z-index:1;
    }
    
    .options-1,.options-2{
        display:flex;
        justify-content: space-around;
        margin-bottom:.71rem;
    }
    .personal_info{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h5.name{
        font-size:1.5rem;
    }
    h5.profession{
        color:#444;
    }
    
    section.content{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding:0 3rem;
        flex-direction: column;
        margin-top:2rem;
    }
    h2{
        font-weight: 500;
        font-family: "Lora", serif !important;
        font-size:1.52rem;
    }
    p{
        font-family: "Poppins", sans-serif;
    }
    section.content div{
        margin-bottom: 1rem;
    }
    
    .buttons{
        width:100%;
        display:flex;    
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    button{
        all:unset;
        padding:4px 8px;
        margin:10px;
        outline:1px solid #111;
        border-radius:7px;
        background-color: #ffeeee;
    }
    button:hover{
        cursor:pointer;
        background-color: #e1efff;
    }
    .links ul{
        list-style:none;
    }
    .links ul li a{
    font-size:1rem;
    text-decoration: none;
    color:rgb(0, 3, 208);
    }
    .links ul li a:hover{
    text-decoration: underline;
    
    }
    
    .socials ul{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:10rem;
    }
    .socials li a i{
        font-size: 1.42rem;
        color:#111;
    }
    ul li a{
        text-decoration: none;
    }
    ul{list-style: none;}
    i.fa-external-link-alt,i.fa-download{
    color:rgb(0, 3, 208);
    font-size:.891rem;
    
    }
    input[type=text],input[type=number],input[type=email]{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      form{
        padding:1rem 10rem;
      }
      input[type=submit] {
        width: 100%;
        color: #000000;
        outline:1px solid #000000;
        background-color: #eee;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all .2s ease;
      }
      input[type=submit]:hover {
        background-color: #000;
        color: white;
      }
      div.form-container{
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
      h1.heading{
        position:absolute;
        font-size:1rem;
        margin-bottom:2rem;
      }
}

  @media only screen and (max-width:768px) {
    html,body{
        width:100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.57);
    }
    body{
        width:100%;
        height:100%;
        font-family: "Poppins", sans-serif;
        display:flex;
        justify-content: center;
        overflow-x:hidden;
    }
    header .logo h1{
        font-family: "Lora", serif !important;
        font-weight:900;
        font-size:1.3rem;
    }
    main{
        border-radius:1.2rem;
        margin:1rem 0;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding:2rem;
        border:1px solid #111;
        width:100%;
        height:fit-content;
    }
    section.profile_settings{
        display:flex;
        height:10rem;
        padding:0 10rem;
        align-items: center;
        justify-content: space-evenly;
    }
    div.image{
        display:flex;
        position:relative;
        left:1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    div.image img{
        margin-top:3rem;
        position: relative;
        left:50%;
        top:-1rem;
        transform: translateX(-40%);
        width:130px;
        height:130px;
        object-fit: cover;
        outline: 2px solid #222;
        border-radius: 50%;
    }
    div.settings ul{
    display:flex;
    position: relative;
    left:10px;
    top:.41rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    
    }
    div.settings ul li,div.settings ul li a{
        margin:2px;
        width:30px;
        height:30px;
        text-align: center;
        border-radius: 50%;
        background-color: #111;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    svg{
        width:1rem;
        height:auto;
    }
    li.heart{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    li span.likes{
        position:absolute;
        right:-1rem;
        font-size:14px;
    }
    #colors{
        display:none;
        position: absolute;
        background-color: rgb(255, 255, 255);
        width:13rem;
        height: 12rem;
        padding:10px;
        border-radius: 10px;
    }
    .close {
        margin-bottom:1rem;
        position: relative;
        left:0%;
        font-size:20px;
        top:0;
        cursor: default;
        color:darkred;
        background-color:#ff8a8a;
    }
    .close:hover{
        background-color:#b10000;
        color:rgb(255, 206, 206);
    }
    #color{
        width:30px;
        height:30px;
        border-radius: 50%;
        cursor:pointer;
        position: relative;
    
    }
    .color-tick::after{
        display:block;
        content:'\f00c';
        font-size:10px;
        color:#111;
        position: absolute;
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
        top:70%;
        left:60%;
        z-index:1;
    }
    
    .options-1,.options-2{
        display:flex;
        justify-content: space-around;
        margin-bottom:.71rem;
    }
    .personal_info{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h5.name{
        font-size:1.5rem;
    }
    h5.profession{
        color:#444;
    }
    
    section.content{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding:0 3rem;
        flex-direction: column;
        margin-top:2rem;
    }
    h2{
        font-weight: 500;
        font-family: "Lora", serif !important;
        font-size:1.52rem;
    }
    p{
        font-family: "Poppins", sans-serif;
    }
    section.content div{
        margin-bottom: 1rem;
    }
    
    .buttons{
        width:100%;
        display:flex;    
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    button{
        all:unset;
        padding:4px 8px;
        margin:10px;
        outline:1px solid #111;
        border-radius:7px;
        background-color: #ffeeee;
    }
    button:hover{
        cursor:pointer;
        background-color: #e1efff;
    }
    .links ul{
        list-style:none;
    }
    .links ul li a{
    font-size:1rem;
    text-decoration: none;

    color:#5b5eff;
    }
    .links ul li a:hover{
    text-decoration: underline;
    
    }
    
    .socials ul{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:10rem;
    }
    .socials li a i{
        font-size: 1.42rem;
        color:#111;
    }
    ul li a{
        text-decoration: none;
    }
    ul{list-style: none;}
    i.fa-external-link-alt,i.fa-download{

    color:#5b5eff;
    font-size:.891rem;
    
    }
    input[type=text],input[type=number],input[type=email]{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      form{
        padding:1rem 10rem;
      }
      input[type=submit] {
        width: 100%;
        color: #000000;
        outline:1px solid #000000;
        background-color: #eee;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all .2s ease;
      }
      input[type=submit]:hover {
        background-color: #000;
        color: white;
      }
      div.form-container{
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
      h1.heading{
        position:absolute;
        font-size:1rem;
        margin-bottom:2rem;
      }
    
}


@media only screen and (max-width:600px) {
    html,body{
        width:100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.57);
    }
    body{
        width:100%;
        height:100%;
        font-family: "Poppins", sans-serif;
        display:flex;
        justify-content: center;
        overflow-x:hidden;
    }
    header .logo h1{
        font-family: "Lora", serif !important;
        font-weight:900;
        font-size:1.3rem;
    }
    main{
        border-radius:1.2rem;
        margin:1rem 0;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding:2rem;
        border:1px solid #111;
        width:100%;
        height:fit-content;
    }
    section.profile_settings{
        display:flex;
        height:10rem;
        padding:0 10rem;
        align-items: center;
        justify-content: space-evenly;
    }
    div.image{
        display:flex;
        position:relative;
        left:1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    div.image img{
        margin-top:3rem;
        position: relative;
        left:50%;
        top:-1rem;
        transform: translateX(-40%);
        width:130px;
        height:130px;
        object-fit: cover;
        outline: 2px solid #222;
        border-radius: 50%;
    }
    div.settings ul{
    display:flex;
    position: relative;
    left:10px;
    top:.41rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    
    }
    div.settings ul li,div.settings ul li a{
        margin:2px;
        width:30px;
        height:30px;
        text-align: center;
        border-radius: 50%;
        background-color: #111;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    svg{
        width:1rem;
        height:auto;
    }
    li.heart{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    li span.likes{
        position:absolute;
        right:-1rem;
        font-size:14px;
    }
    #colors{
        display:none;
        position: absolute;
        background-color: rgb(255, 255, 255);
        width:13rem;
        height: 12rem;
        padding:10px;
        border-radius: 10px;
    }
    .close {
        margin-bottom:1rem;
        position: relative;
        left:0%;
        font-size:20px;
        top:0;
        cursor: default;
        color:darkred;
        background-color:#ff8a8a;
    }
    .close:hover{
        background-color:#b10000;
        color:rgb(255, 206, 206);
    }
    #color{
        width:30px;
        height:30px;
        border-radius: 50%;
        cursor:pointer;
        position: relative;
    
    }
    .color-tick::after{
        display:block;
        content:'\f00c';
        font-size:10px;
        color:#111;
        position: absolute;
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
        top:70%;
        left:60%;
        z-index:1;
    }
    
    .options-1,.options-2{
        display:flex;
        justify-content: space-around;
        margin-bottom:.71rem;
    }
    .personal_info{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h5.name{
        font-size:1.5rem;
    }
    h5.profession{
        color:#444;
    }
    
    section.content{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding:0 3rem;
        flex-direction: column;
        margin-top:2rem;
    }
    h2{
        font-weight: 500;
        font-family: "Lora", serif !important;
        font-size:1.52rem;
    }
    p{
        font-family: "Poppins", sans-serif;
    }
    section.content div{
        margin-bottom: 1rem;
    }
    
    .buttons{
        width:100%;
        display:flex;    
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    button{
        all:unset;
        padding:4px 8px;
        margin:10px;
        outline:1px solid #111;
        border-radius:7px;
        background-color: #ffeeee;
    }
    button:hover{
        cursor:pointer;
        background-color: #e1efff;
    }
    .links ul{
        list-style:none;
    }
    .links ul li a{
    font-size:1rem;
    text-decoration: none;
    color:#5b5eff;
    }
    .links ul li a:hover{
    text-decoration: underline;
    
    }
    
    .socials ul{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:10rem;
    }
    .socials li a i{
        font-size: 1.42rem;
        color:#111;
    }
    ul li a{
        text-decoration: none;
    }
    ul{list-style: none;}
    i.fa-external-link-alt,i.fa-download{
color:#5b5eff;
    font-size:.891rem;
    
    }
    input[type=text],input[type=number],input[type=email]{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      form{
        padding:1rem 10rem;
      }
      input[type=submit] {
        width: 100%;
        color: #000000;
        outline:1px solid #000000;
        background-color: #eee;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all .2s ease;
      }
      input[type=submit]:hover {
        background-color: #000;
        color: white;
      }
      div.form-container{
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
      h1.heading{
        position:absolute;
        font-size:1rem;
        margin-bottom:2rem;
      }
}
@media only screen and (max-width:400px) {
    html,body{
        width:100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.57);
    }
    body{
        width:100%;
        height:100%;
        font-family: "Poppins", sans-serif;
        display:flex;
        justify-content: center;
    }

    main{
        border-radius:1.2rem;
        margin:1rem 0;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding:2rem;
        border:1px solid #111;
        width:100%;
        height:fit-content;
    }
    section.profile_settings{
        display:flex;
        height:10rem;
        padding:0 10rem;
        align-items: center;
        justify-content: space-evenly;
    }
    div.image{
        display:flex;
        position:relative;
        left:1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    div.image img{
        margin-top:3rem;
        position: relative;
        left:50%;
        top:-1rem;
        transform: translateX(-40%);
        width:130px;
        height:130px;
        object-fit: cover;
        outline: 2px solid #222;
        border-radius: 50%;
    }
    div.settings ul{
    display:flex;
    position: relative;
    left:10px;
    top:.41rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    
    }
    div.settings ul li,div.settings ul li a{
        margin:2px;
        width:30px;
        height:30px;
        text-align: center;
        border-radius: 50%;
        background-color: #111;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    svg{
        width:1rem;
        height:auto;
    }
    li.heart{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    li span.likes{
        position:absolute;
        right:-1rem;
        font-size:14px;
    }
    #colors{
        display:none;
        position: absolute;
        background-color: rgb(255, 255, 255);
        width:13rem;
        height: 12rem;
        padding:10px;
        border-radius: 10px;
    }
    .close {
        margin-bottom:1rem;
        position: relative;
        left:0%;
        font-size:20px;
        top:0;
        cursor: default;
        color:darkred;
        background-color:#ff8a8a;
    }
    .close:hover{
        background-color:#b10000;
        color:rgb(255, 206, 206);
    }
    #color{
        width:30px;
        height:30px;
        border-radius: 50%;
        cursor:pointer;
        position: relative;
    
    }
    .color-tick::after{
        display:block;
        content:'\f00c';
        font-size:10px;
        color:#111;
        position: absolute;
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
        top:70%;
        left:60%;
        z-index:1;
    }
    
    .options-1,.options-2{
        display:flex;
        justify-content: space-around;
        margin-bottom:.71rem;
    }
    .personal_info{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h5.name{
        font-size:1.5rem;
    }
    h5.profession{
        color:#444;
    }
    
    section.content{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding:0 3rem;
        flex-direction: column;
        margin-top:2rem;
    }
    h2{
        font-weight: 500;
        font-family: "Lora", serif !important;
        font-size:1.52rem;
    }
    p{
        font-family: "Poppins", sans-serif;
    }
    section.content div{
        margin-bottom: 1rem;
    }
    
    .buttons{
        width:100%;
        display:flex;    
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    button{
        all:unset;
        padding:4px 8px;
        margin:10px;
        outline:1px solid #111;
        border-radius:7px;
        background-color: #ffeeee;
    }
    button:hover{
        cursor:pointer;
        background-color: #e1efff;
    }
    .links ul{
        list-style:none;
    }
    .links ul li a{
    font-size:1rem;
    text-decoration: none;
color:#5b5eff;
    }
    .links ul li a:hover{
    text-decoration: underline;
    
    }
    
    .socials ul{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:10rem;
    }
    .socials li a i{
        font-size: 1.42rem;
        color:#111;
    }
    ul li a{
        text-decoration: none;
    }
    ul{list-style: none;}
    i.fa-external-link-alt,i.fa-download{
color:#5b5eff;

    font-size:.891rem;
    
    }
    input[type=text],input[type=number],input[type=email]{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      form{
        padding:1rem 10rem;
      }
      input[type=submit] {
        width: 100%;
        color: #000000;
        outline:1px solid #000000;
        background-color: #eee;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all .2s ease;
      }
      input[type=submit]:hover {
        background-color: #000;
        color: white;
      }
      div.form-container{
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
      h1.heading{
        position:absolute;
        font-size:1rem;
        margin-bottom:2rem;
      }
}
.builder-img{
    width:100px;
    height:auto;
}